* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1, h3{
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
}

.interactable {
    margin: auto;
    display: block;
}

.divInteractable {
    padding: 20px;
}

#btnSearch {
    cursor: pointer;
}

#numberToSearch {

    text-align: center;
}

#errorMessage {
    color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}